body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.main-1 {
  width: 100%;
  background: url("../images/43010.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* margin: auto; */
  /* display: flex; */
}

.topnav {
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 65px; */
  background: #212121 0% 0% no-repeat padding-box;
  padding: auto;
  position: fixed;
  opacity: 1;
}

.menu {
  float: left;
  width: 50%;
}

.menu ul {
  float: right;
  padding-right: 30px;
}

.menu ul li {
  display: inline-block;
  padding: 5px 10px 0px 15px;
}

.menu ul li a {
  color: #f2f2f2;
  text-align: right;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  color: #ffdd00;
}

.menu ul li a.active {
  width: 100%;
  height: 100%;
  background: #ffdd00 0% 0% no-repeat padding-box;
  border-radius: 15px;
  color: black;
}

.logo {
  float: left;
  height: 100%;
  width: 50%;
  padding-top: 5px;
  padding-left: 80px;
}

.logo a {
  display: flex;
  align-items: center;
  text-align: left;
  font: normal normal 550 20px/30px Poppins;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.content-1 {
  align-self: center;
  max-width: 1600px;
  margin: auto;
}

.col-1 {
  float: left;
  width: 55%;
}

.col-1 ul {
  max-width: 700px;
  padding-left: 80px;
  padding-top: 70px;
}

.col-1 ul li {
  list-style-type: none;
}

.col-1 ul li h3 {
  text-align: left;
  font: normal normal bold 50px/20px Poppins;
  letter-spacing: 0px;
  color: #ffdd00;
}

.col-1 ul li h2 {
  text-align: left;
  font: normal normal bold 65px/20px Poppins;
  letter-spacing: 0px;
  color: #ffdd00;
}

.col-2 {
  float: left;
  width: 45%;
  padding-top: 65px;
  height: 700px;
}

.col-2 ul {
  max-width: 500px;
}

.col-2 ul li {
  list-style-type: none;
}

.col-2 ul li a {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.lorem {
  text-align: left;
  font: normal normal medium 30px/0px Poppins;
  font-size: 25px;
  color: #212121;
}

.lorem-2 {
  text-align: left;
  font: normal normal bold 50px/40px Poppins;
  font-size: 40px;
  color: #212121;
}

.text {
  max-width: 390px;
  text-align: left;
  font: normal normal 300 20.5px/30px Poppins;
  padding-right: 30px;
  color: #ffffff;
}

.button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background: #ffdd00 0% 0% no-repeat padding-box;
  border-radius: 39px;
  color: #212121;
}

.button-base {
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background: #212121 0% 0% no-repeat padding-box;
  border-radius: 34px;
  /* color: #212121; */
}

.container-1 {
  background: #000000 no-repeat padding-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size: cover;
  min-height: 800px;
}

.col-3 {
  float: left;
  width: 50%;
}

.col-3 h2 {
  text-align: left;
  padding-top: 50px;
  padding-left: 90px;
  font: normal normal medium 77px/100px Poppins;
  font-size: 55px;
  letter-spacing: 0px;
  color: #ffdd00;
}

.col-4 {
  float: right;
  width: 50%;
  padding-left: 120px;
  padding-top: 100px;
}

.col-4 p {
  text-align: left;
  max-width: 500px;
  font: normal normal 300 25px/38px Poppins;
  font-size: 18px;
  letter-spacing: 0px;
  color: #f9f9f9;
}

.col-5 {
  float: left;
  width: 33.33%;
  /* height: 400px; */
  padding: 2px;
}

.col-6 {
  float: left;
  width: 30%;
  height: 400px;
  padding-top: 90px;
  padding-left: 80px;
}

.col-6 p {
  text-align: left;
  font: normal normal 100 30px/50px Poppins;
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}

.col-6 h3 {
  text-align: left;
  font: normal normal normal 30px/42px Poppins;
  font-size: 25px;
  letter-spacing: 0px;
  color: #ffdd00;
}

.col-7 {
  float: left;
  width: 70%;
}

.col-8 {
  float: left;
  width: 33.33%;
  margin-top: 130px;
  padding: 2px;
  height: 300px;
}

.col-6 h2 {
  text-align: left;
  font: normal normal medium 77px/100px Poppins;
  font-size: 55px;
  letter-spacing: 0px;
  color: #ffdd00;
}

.card {
  border-radius: 5px;
  background: #f9f9f9;
  text-align: center;
  height: 300px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 36px;
  /* cursor: pointer; */
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #ffdd00;
}

.card h4 {
  text-align: center;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #212121;
  padding: 1px;
}

.card p {
  text-align: center;
  font: normal normal 300 15px/20px Poppins;
  font-size: 12px;
  letter-spacing: 0px;
  color: #212121;
}

.row-1 {
  margin-top: 50px;
}

.card-contact {
  text-align: center;
  max-width: 600px;
  min-height: 500px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.card-contact h1 {
  text-align: center;
  font: normal normal bold 50px/50px Poppins;
  font-size: 40px;
  letter-spacing: 0px;
  color: #212121;
}

.row-con {
  width: 100%;
  margin-top: 110px;
  display: inline-block;
  padding: auto;
  background: #f9f9f9 0% 0% no-repeat padding-box;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  height: 40px;
  margin: 5px 10px 5px 5px;
  padding: 10px;
  font: normal normal normal 20px/20px Poppins;
  font-size: 12px;
  background-color: #fffdff;
  border-radius: 10px;
  border: none;
  /* outline: none; */
}

.form-inline textarea {
  vertical-align: middle;
  height: 40px;
  margin: 5px 10px 5px 5px;
  padding: 10px;
  font: normal normal normal 20px/20px Poppins;
  font-size: 12px;
  background-color: #fffdff;
  border-radius: 10px;
  border: none;
  resize: none;
  /* outline: none; */
}

.form-inline button {
  padding: 10px 20px;
}

.col-9 {
  float: left;
  width: 50%;
  text-align: left;
  padding-right: 50px;
}

.col-9 input {
  padding: 10px;
  width: 140px;
  background: #ffdd00 0% 0% no-repeat padding-box;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.col-10 {
  float: right;
  width: 50%;
  padding-left: 100px;
}

.col-10 a {
  /* align-items: center; */
  text-align: left;
}

.col-10 ul li {
  display: inline-block;
}

.col-contact-1 {
  float: left;
  width: 50%;
  padding: auto;
  align-items: center;
}

.col-contact-1 a {
  margin-top: 33px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  text-align: left;
  font: normal normal 600 25px/20px Poppins;
  letter-spacing: 0px;
  color: #212121;
  text-decoration: none;
}

.col-contact-2 {
  float: left;
  width: 50%;
}

.col-contact-2 p {
  margin-left: 250px;
  text-align: left;
  font: normal normal 300 17px/17px Poppins;
  font-size: 12px;
  letter-spacing: 0px;
  color: #212121;
}

.col-contact-2 p img {
  height: 12px;
}

.col-c {
  height: 100%;
  width: 100%;
  text-align: center;
  font: normal normal 300 17px/20px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}
@media screen and (max-width: 900px) {
  .menu,
  .menu ul {
    width: 100%;
    float: left;
    text-align: center;
  }
  .menu ul li {
    width: 100%;
    text-align: center;
  }

  /* .logo {
    width: 100%;
    padding: 0px;
  }

  .logo a {
    width: 50%;
    margin: auto;
  } */
}

@media screen and (max-width: 1000px) {
  [class*="col-"] {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .col-2 ul {
    padding-left: 90px;
  }

  .col-4 {
    padding-top: 20px;
    padding-left: 100px;
  }

  .col-7 {
    margin-top: 100px;
  }

  .col-8 {
    /* padding: 50px; */
    margin-top: 2px;
  }

  .card-contact {
    padding: auto;
    max-height: unset;
  }

  .col-9 {
    padding: 0px;
  }

  .col-10 {
    padding: 0px;
  }

  .col-10 ul {
    padding-right: 40px;
    margin: auto;
  }

  /* .row-1 {
    margin: 0;
    padding: 100px;
  } */
}
